<div class='container'>
	<div class='row'>
		<div class='col-md-5 offset-md-3'>

			<div
				class='card card-body bg-dark p-4 text-white rounded-0'
			>
				<h1>
					Update A Project
				</h1>
				<form
					action='/project/{{project._id}}/edit'
					method='post'
					class='m-0'
				>
					<div class='mb-3'>

						<input
							type='text'
							name='title'
							placeholder='Title'
							id='title'
							value='{{project.title}}'
							class='form-control rounded-0 bg-dark text-white'
						/>
					</div>
					<div class='mb-3'>

						<input
							type='url'
							name='url'
							id='url'
							placeholder='URL'
							value='{{project.url}}'
							class='form-control rounded-0 bg-dark text-white'
						/>
					</div>
					<div class='mb-3'>

						<input
							type='url'
							name='url_repository'
							id='url_repository'
							placeholder='repository URL'
							value='{{project.url_repository}}'
							class='form-control rounded-0 bg-dark text-white'
						/>
					</div>
					<div class='mb-3'>

						<input
							type='url'
							name='image'
							id='imageUrl'
							placeholder='image url'
							value='{{project.image}}'
							class='form-control rounded-0 bg-dark text-white'
						/>
					</div>
					<div class='mb-3'>

						<textarea
							name='description'
							id=''
							cols='30'
							rows='6'
							class='form-control rounded-0 bg-dark text-white'
						>{{project.description}}</textarea>
					</div>
					<div class='d-grid'>

						<button class='btn btn-primary'>Update</button>
					</div>
				</form>

			</div>
		</div>
	</div>

</div>