{{#if products}}
	<table
		class='table table-bordered table-hover table-dark'
	>
		<thead>
			<tr>
				<th>
					N.
				</th>
				<th>
					Image
				</th>
				<th>
					Title
				</th>
				<th>
					Description
				</th>
				<th>
					Price
				</th>
				<th>
					Operations
				</th>
			</tr>
		</thead>
		<tbody>

			{{#each products}}
				<tr>
					<td>

						{{@index}}
					</td>
					<td>
						<img src="{{image}}" height="150px" alt="">
					</td>
					<td>
						{{title}}
					</td>
					<td>
						{{description}}
					</td>
					<td>
						${{price}}
					</td>
					<td>

						<a
							class='btn btn-danger'
							href='/product/{{_id}}/delete'
						>delete</a>
						<a
							class='btn btn-info'
							href='/product/{{_id}}/edit'
						>update</a>
					</td>
				</tr>

			{{/each}}
		</tbody>
	</table>
{{else}}
	<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No products</h1>
      <img src="https://img.icons8.com/color/96/000000/product--v1.png" class="w-75" />
    </div>

{{/if}}